<a href="https://colab.research.google.com/github/Mahonry/Telstra-Network-Disruptions/blob/master/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, mutual_info_classif
plt.style.use('ggplot')
%matplotlib inline

In [ ]:
event = pd.read_csv('event_type.csv')
train = pd.read_csv('train.csv')
resource = pd.read_csv('resource_type.csv')
log = pd.read_csv('log_feature.csv')
severity = pd.read_csv('severity_type.csv')
test = pd.read_csv('test.csv')

# Inspeccion de los datasets

In [ ]:
print('event: ',event.shape)
print('resource: ',resource.shape)
print('log: ',log.shape)
print('severity: ',severity.shape)
print('train: ',train.shape)
print('test: ',test.shape)
print('Total data (train + test):  ', 7381 + 11171)
datasets = [event,resource,log,severity,train,test]

event:  (31170, 2)
resource:  (21076, 2)
log:  (58671, 3)
severity:  (18552, 2)
train:  (7381, 3)
test:  (11171, 2)
Total data (train + test):   18552

In [ ]:
for dataset in datasets:
  dataset.info()
  print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31170 entries, 0 to 31169
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          31170 non-null  int64
 1   event_type  31170 non-null  object
dtypes: int64(1), object(1)
memory usage: 487.2+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21076 entries, 0 to 21075
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21076 non-null  int64
 1   resource_type  21076 non-null  object
dtypes: int64(1), object(1)
memory usage: 329.4+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58671 entries, 0 to 58670
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           58671 non-null  int64
 1   log_feature  58671 non-null  object
 2   volume       58671 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.3+ MB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18552 non-null  int64
 1   severity_type  18552 non-null  object
dtypes: int64(1), object(1)
memory usage: 290.0+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              7381 non-null   int64
 1   location        7381 non-null   object
 2   fault_severity  7381 non-null   int64
dtypes: int64(2), object(1)
memory usage: 173.1+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11171 entries, 0 to 11170
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        11171 non-null  int64
 1   location  11171 non-null  object
dtypes: int64(1), object(1)
memory usage: 174.7+ KB

In [ ]:
#Distribucion de las clases
100*train.fault_severity.value_counts()/train.fault_severity.value_counts().sum()

0    64.815066
1    25.348869
2     9.836066
Name: fault_severity, dtype: float64

## Even type

In [ ]:
# Distribucion de la variable Event
(100*event.event_type.value_counts()/event.event_type.value_counts().sum()).sort_values(ascending=False)

event_type 11    25.306384
event_type 35    21.222329
event_type 34    19.015079
event_type 15    14.100096
event_type 20     4.677575
event_type 54     2.194418
event_type 13     1.867180
event_type 42     1.533526
event_type 44     1.495027
event_type 23     1.376323
event_type 14     1.058710
event_type 43     0.981713
event_type 22     0.715432
event_type 50     0.494065
event_type 10     0.465191
event_type 21     0.436317
event_type 18     0.234200
event_type 47     0.221367
event_type 26     0.208534
event_type 32     0.202117
event_type 30     0.192493
event_type 45     0.170035
event_type 24     0.147578
event_type 27     0.141161
event_type 29     0.134745
event_type 40     0.128329
event_type 46     0.121912
event_type 2      0.118704
event_type 28     0.102663
event_type 8      0.093038
event_type 6      0.089830
event_type 5      0.083414
event_type 7      0.076997
event_type 3      0.060956
event_type 38     0.060956
event_type 36     0.057748
event_type 39     0.057748
event_type 53     0.054540
event_type 49     0.054540
event_type 9      0.044915
event_type 19     0.044915
event_type 31     0.032082
event_type 37     0.032082
event_type 12     0.019249
event_type 25     0.016041
event_type 1      0.012833
event_type 51     0.012833
event_type 17     0.009625
event_type 41     0.006416
event_type 48     0.006416
event_type 4      0.003208
event_type 52     0.003208
event_type 33     0.003208
Name: event_type, dtype: float64

In [ ]:
event_1 = pd.get_dummies(event, columns=['event_type']).groupby(['id'], as_index=False).sum()

In [ ]:
event_1['sum_events'] = event_1.iloc[:,1:].sum(axis = 1)

## Log_Feature

In [ ]:
log.log_feature = log.log_feature.str.extract('(\d+)').astype(int)
print((100*log.log_feature.value_counts()/log.log_feature.value_counts().sum()).head(20))
log.log_feature

312    8.977178
232    8.102811
82     5.917745
203    4.811576
313    3.655980
233    3.240102
307    2.721958
54     2.681052
170    2.600944
71     2.580491
315    2.548107
134    2.418571
80     2.277105
235    2.205519
193    1.977127
219    1.963491
68     1.862931
227    1.840773
314    1.619199
201    1.537386
Name: log_feature, dtype: float64

0         68
1         68
2         68
3        172
4         56
        ...
58666    209
58667     54
58668     62
58669    209
58670     87
Name: log_feature, Length: 58671, dtype: int64

In [ ]:
#LOG
log['Features_bin'] = pd.cut(log.log_feature, 193)
log.drop(['log_feature'], axis = 1, inplace = True)

In [ ]:
log_1 = pd.get_dummies(log, columns=['Features_bin']).groupby(['id'], as_index=False).sum()
#log_1 = pd.get_dummies(log, columns=['log_feature']).groupby(['id'], as_index=False).sum()
log_1['sum_log'] = log_1.iloc[:,2:].sum(axis = 1)

In [ ]:
log_1

          id  volume  ...  Features_bin_(384.005, 386.0]  sum_log
0          1       5  ...                              0        3
1          2       5  ...                              0        5
2          3       2  ...                              0        1
3          4       3  ...                              0        1
4          5      17  ...                              0        2
...      ...     ...  ...                            ...      ...
18547  18548      22  ...                              0        6
18548  18549       8  ...                              0        6
18549  18550       6  ...                              0        2
18550  18551       7  ...                              0        2
18551  18552      48  ...                              0        2

[18552 rows x 196 columns]

## Resource

In [ ]:
#Resource
(100*resource.resource_type.value_counts()/resource.resource_type.value_counts().sum()).sort_index()

resource_type 1      0.275195
resource_type 10     0.346366
resource_type 2     42.313532
resource_type 3      0.687986
resource_type 4      1.565762
resource_type 5      0.066426
resource_type 6      2.761435
resource_type 7      2.362877
resource_type 8     48.718922
resource_type 9      0.901499
Name: resource_type, dtype: float64

In [ ]:
resource_1 = pd.get_dummies(resource, columns=['resource_type']).groupby(['id'], as_index=False).sum()
resource_1['sum_resource'] = resource_1.iloc[:,1:].sum(axis = 1)

In [ ]:
resource_1

          id  ...  sum_resource
0          1  ...             2
1          2  ...             1
2          3  ...             1
3          4  ...             1
4          5  ...             1
...      ...  ...           ...
18547  18548  ...             1
18548  18549  ...             1
18549  18550  ...             1
18550  18551  ...             1
18551  18552  ...             1

[18552 rows x 12 columns]

## Severity

In [ ]:
#severity
(100*severity.severity_type.value_counts()/severity.severity_type.value_counts().sum()).sort_index()

severity_type 1    47.046141
severity_type 2    47.094653
severity_type 3     0.043122
severity_type 4     5.465718
severity_type 5     0.350367
Name: severity_type, dtype: float64

In [ ]:
severity = pd.get_dummies(severity, columns=['severity_type']).groupby(['id'], as_index=False).sum()
severity

          id  ...  severity_type_severity_type 5
0          1  ...                              0
1          2  ...                              0
2          3  ...                              0
3          4  ...                              0
4          5  ...                              0
...      ...  ...                            ...
18547  18548  ...                              0
18548  18549  ...                              0
18549  18550  ...                              0
18550  18551  ...                              0
18551  18552  ...                              0

[18552 rows x 6 columns]

## Locations

In [ ]:
#train.location = train.location.str.extract('(\d+)').astype(int)
#test.location = test.location.str.extract('(\d+)').astype(int)

In [ ]:
#Locations 
(100*train.location.value_counts()/train.location.value_counts().sum())

location 821     1.151605
location 1107    1.056767
location 734     1.016122
location 1008    0.961929
location 126     0.961929
                   ...
location 987     0.013548
location 947     0.013548
location 254     0.013548
location 117     0.013548
location 289     0.013548
Name: location, Length: 929, dtype: float64

In [ ]:
#Location Count Train:
location_count = train['location'].value_counts()
train['location_count'] = train['location'].apply(lambda x: location_count[x])
#train = pd.get_dummies(train, columns=['location'])

In [ ]:
#Location Count Test:
location_count = test['location'].value_counts()
test['location_count'] = test['location'].apply(lambda x: location_count[x])
#test = pd.get_dummies(test, columns=['location'])

In [ ]:
#Convirtiendo location a numerico:
le_1 = LabelEncoder()
le_2 = LabelEncoder()

train['location'] = le_1.fit_transform(train['location'])
test['location'] = le_2.fit_transform(test['location'])

#Consolidando los dataframes para el algoritmo

In [ ]:
# Consolidamos el dataframe de entrenamiento
frames = [log_1,event_1,resource_1,severity]
train_consolidado = train.copy()
test_consolidado = test.copy()

for frame in frames:
  train_consolidado = train_consolidado.merge(frame, on = ['id'])
  test_consolidado = test_consolidado.merge(frame, on = ['id'])

In [ ]:
train_consolidado.shape

(7381, 269)

# Guardado

In [ ]:
train_consolidado.to_csv('train_2.csv', index = False)

In [ ]:
test_consolidado.to_csv('test_2.csv', index = False)

Consolidado: Se utilizo log['Features_bin'] = pd.qcut(log.log_feature, 10) agrupando log en 10 grupos percentiles

Completo: Se aplico get_dummies a todas las variables sin agrupacion 

_2: Se utili log['Features_bin'] = pd.cut(log.log_feature, 193) para reducir a la mitad la cantidad de features dadas por Log